<dx-data-grid [dataSource]="tasks" keyExpr="ID" [showBorders]="true">
  <dxo-data-grid-paging [enabled]="true" [pageSize]="15"></dxo-data-grid-paging>
  <dxo-data-grid-editing
    mode="cell"
    [allowUpdating]="true"
  ></dxo-data-grid-editing>
  <dxi-data-grid-column
    dataField="AssigneeID"
    [allowSorting]="false"
    editCellTemplate="dropDownBoxEditorTemplate"
  >
    <dxo-data-grid-lookup
      [dataSource]="employees"
      valueExpr="ID"
      displayExpr="FullName"
    ></dxo-data-grid-lookup>
    <dxi-data-grid-validation-rule
      type="required"
    ></dxi-data-grid-validation-rule>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Task"></dxi-data-grid-column>

  <div *dxTemplate="let cellInfo of 'dropDownBoxEditorTemplate'">
    <dx-drop-down-box
      [dropDownOptions]="dropdownOptions"
      [dataSource]="employees"
      [value]="cellInfo.value"
      valueExpr="ID"
      displayExpr="FullName"
      contentTemplate="contentTemplate"
    >
      <div *dxTemplate="let templateData of 'contentTemplate'">
        <dx-popup
          #targetPopup
          [width]="400"
          [height]="150"
          title="Search by state:"
          [shading]="false"
          id="popId"
          [(visible)]="popupVisible"
        >
          <div *dxTemplate="let data of 'content'">
            <dx-select-box
              [items]="states"
              [searchEnabled]="true"
              [showClearButton]="true"
              (onValueChanged)="searchValueChanged($event.value)"
            ></dx-select-box>
          </div>
        </dx-popup>

        <dx-button text="Search" (onClick)="openPopup()"></dx-button>
        <dx-data-grid
          #targetDataGrid
          keyExpr="ID"
          [dataSource]="employees"
          [selectedRowKeys]="[cellInfo.value]"
          [focusedRowEnabled]="true"
          [focusedRowKey]="cellInfo.value"
          (onSelectionChanged)="
            onSelectionChanged(
              $event.selectedRowKeys,
              cellInfo,
              templateData.component
            )
          "
        >
          <dxi-data-grid-column dataField="FullName"></dxi-data-grid-column>
          <dxi-data-grid-column dataField="State"></dxi-data-grid-column>
          <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
          <dxo-data-grid-selection mode="single"></dxo-data-grid-selection>
        </dx-data-grid>
      </div>
    </dx-drop-down-box>
  </div>
</dx-data-grid>
